
.contestRank-ranklist{
  margin-bottom: 14px;
}
.contestRank-ranklist table {
  padding: 0!important;
}

.contestRank-ranklist th {
  padding: 8px 0!important;/*  16 8 */
}

.contestRank-ranklist td {
  padding: 0!important;/*  16 8 */
}

.contestRank-ranklist th,
.contestRank-ranklist td {
  text-align: center!important;
}

.contestRank-ranklist td div {
  height: 50px;
  padding: 8px 0;
}

.contestRank-wa-color {
  background-color:#ffdadc!important
}

.contestRank-firstAc-color {
  background-color:#00b27b;
  color: #fff;
  font-weight: bold;
}