.confForm-form label, .confForm-form span, .confForm-form input, .confForm-form textarea{
  font-size: 14px!important;
}

.confForm-form{
  width: 820px;
  margin: 0 auto;
}
.confForm-img{
  position: absolute;
  right: 80px;
  top: 0px;
  width: 72px;
  height: 72px;
  border-radius: 50%;
}
.confForm-header {
  width: 72px;
  height: 72px;
  border-radius: 50%;
}

.confForm-header-a{
  background: rgba(0,0,0,.6);
  color: #fff;
  font-size: 12px;
  line-height: 72px;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  opacity: 0;
  transition: opacity .2s;
}
.confForm-header-a:hover{
  opacity: 1;
  color: #fff;
}
.ant-form-item-control{
  margin-left: 10px;
}

.avatar-uploader-trigger {
  display: table-cell;
  vertical-align: middle;
  font-size: 28px;
  color: #999;
}

.avatar-uploader,
.avatar-uploader-trigger,
.avatar {
  width: 150px;
  height: 150px;
}
.avatar-uploader {
  display: block;
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
}