
.quesDet-container{
  width: 85%;
  margin: 0 auto;
}

.quesDet-ul{
  font-size: 14px;
  text-align: center;
}
.quesDet-ul a,.quesDet-ul span{
  margin: 0 15px;
}

.quesDet-ul span{
  color: #1DA57A;
  background: transparent;
  cursor:pointer;
  font-size:14px;
}
