
.realStatus-table th:nth-child(1){
  width: 7%;
}
.realStatus-table th:nth-child(2){
  width: 11%;
}
.realStatus-table th:nth-child(3){
  width: 12%;
}
.realStatus-table th:nth-child(4){
  width: 8%;
}
.realStatus-table th:nth-child(5){
  width: 6%;
}
.realStatus-table th:nth-child(6){
  width: 6%;
}
.realStatus-table th:nth-child(7){
  width: 6%;
}
.realStatus-table th:nth-child(8){
  width: 6%;
}
.realStatus-table th:nth-child(9){
  width: 7%;
}

.realStatus-acColor{
  color: red;
}
.realStatus-waColor{
  color: green;
}
.realStatus-PresError{
  color: rgb(255, 165, 0);
}
.realStatus-CompError{
  color: rgb(102, 51, 255);
}
