body {
  margin: 0;
  padding: 0;
  min-width: 1024px;
  font-family: sans-serif;
}

.Nav-logo {
  width: 120px;
  height: 64px;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  float: left;
}
 
.Nav-logo span {
  font-size: 16px;
  font-family: PingFang SC,Microsoft YaHei,sans-serif;
  height: 64px;
  line-height: 64px;
}

.Nav-head{
  text-align: center;
  float: right;
  height: 64px;
  width: 60px;
  padding-top: 12px;
}

.Nav-head-no-sign{
  width:150px;
  padding-top: 0;
}

.ant-layout-header a{
  font-size: 14px;
}

.Nav-head a{
  font-size: 14px;
  color: rgba(255, 255, 255, 0.67);
  line-height: 64px;
  margin: 0 12px;
}

.Nav-head a:hover{
  color:#fff;
}