body {
  margin: 0;
  padding: 0;
  min-width: 1080px;
  font-family: sans-serif;
}
.Nav-logo {
  width: 120px;
  height: 31px;
  color: #fff;
  font-size: 20px;
  float: left;
}

.Nav-logo span {
  font-size: 16px;
  font-family: PingFang SC,Microsoft YaHei,sans-serif;
  height: 64px;
  line-height: 64px;
}

.Nav-head{
  text-align: center;
  float: right;
  height: 64px;
  width: 60px;
  padding-top: 12px;
}

.Nav-board{
  width: 306px;
  height:244px;
  background-color: #fff;
  padding: 24px;
  box-sizing: border-box;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(7,17,27,.2);
  z-index: 1;
}

.user-card{
  position: absolute;
  right: 18px;
  top: 64px;
  width: 306px;
  z-index: 1000;
}